

*::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
}
h1,
h2,
h3,
h4{
    font-weight: inherit;
    font-size: inherit;
}
button{
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}
body{
    line-height: 1;
}


